doctype html
html(lang='en')
  head
    title Jade
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
    link(rel='stylesheet' href='css/styles.css')
    link(href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(type="text/javascript" src="js/main.js")


  body
    header
      .pitchbar
        .container
          .col-xs-12
            .pitchbar-content
              span
                a(href="#") Acompanhe as melhores promoções disponíveis aqui na Maeztra.
      .header__wrapper
        .container.container-header__desktop
          .col-xs-12
            .header__body
              .nav-mobile
                img(src="images/drawer.png")
              a(href="#").site-logo
                img.site-logo--mobile(src="images/logo-mobile.png")
                img.site-logo--desktop(src="images/logo-desktop.png")
              .search
                .search__wrapper
                  .search-autocomplete
                    form
                      input.search__field(placeholder="O Que Você Busca?")
                      button.search__button Buscar
                svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M27.8535 26.4395L20.8817 19.4677C22.204 17.8351 23 15.7597 23 13.5C23 8.26175 18.7383 4 13.5 4C8.2617 4 4 8.26175 4 13.5C4 18.7383 8.26175 23.0001 13.5 23.0001C15.7597 23.0001 17.8351 22.204 19.4677 20.8817L26.4395 27.8536C26.6348 28.0488 26.9513 28.0488 27.1467 27.8536L27.8536 27.1466C28.0488 26.9513 28.0488 26.6347 27.8535 26.4395ZM13.5 21.0001C9.3643 21.0001 6.00002 17.6358 6.00002 13.5C6.00002 9.3643 9.3643 6.00002 13.5 6.00002C17.6358 6.00002 21.0001 9.3643 21.0001 13.5C21.0001 17.6358 17.6358 21.0001 13.5 21.0001Z' fill='black')
              .header__body-inner
                .account
                  a(href="#")
                    svg(width='14' height='16' viewBox='0 0 14 16' xmlns='http://www.w3.org/2000/svg')
                      path(d='M9.8 9.5C8.90312 9.5 8.47188 10 7 10C5.52812 10 5.1 9.5 4.2 9.5C1.88125 9.5 0 11.3813 0 13.7V14.5C0 15.3281 0.671875 16 1.5 16H12.5C13.3281 16 14 15.3281 14 14.5V13.7C14 11.3813 12.1187 9.5 9.8 9.5ZM12.5 14.5H1.5V13.7C1.5 12.2125 2.7125 11 4.2 11C4.65625 11 5.39687 11.5 7 11.5C8.61563 11.5 9.34062 11 9.8 11C11.2875 11 12.5 12.2125 12.5 13.7V14.5ZM7 9C9.48438 9 11.5 6.98438 11.5 4.5C11.5 2.01562 9.48438 0 7 0C4.51562 0 2.5 2.01562 2.5 4.5C2.5 6.98438 4.51562 9 7 9ZM7 1.5C8.65312 1.5 10 2.84687 10 4.5C10 6.15312 8.65312 7.5 7 7.5C5.34688 7.5 4 6.15312 4 4.5C4 2.84687 5.34688 1.5 7 1.5Z')
                    | Minha conta

                .wishlist
                  a(href="#")
                    svg(width='19' height='16' viewBox='0 0 19 16' xmlns='http://www.w3.org/2000/svg')
                      path(d='M16.367 1.15404C14.3033 -0.581202 11.1148 -0.320559 9.14037 1.68961C7.16591 -0.320559 3.97749 -0.584772 1.91377 1.15404C-0.771215 3.41414 -0.378464 7.09885 1.5353 9.05189L7.79788 15.4323C8.15493 15.7965 8.63337 16 9.14037 16C9.65095 16 10.1258 15.8001 10.4829 15.4359L16.7454 9.05546C18.6556 7.10242 19.0555 3.41771 16.367 1.15404ZM15.5244 7.84865L9.26177 14.2291C9.17608 14.3147 9.10467 14.3147 9.01898 14.2291L2.7564 7.84865C1.45318 6.52044 1.18897 4.00683 3.01704 2.46797C4.40595 1.30043 6.54822 1.47538 7.89071 2.84287L9.14037 4.11752L10.39 2.84287C11.7397 1.46824 13.8819 1.30043 15.2637 2.4644C17.0882 4.00326 16.8169 6.53115 15.5244 7.84865Z')
                    | Minha conta
                .minicart
                  a(href="#")
                    svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M25.7682 27.2112L23.9441 9.84052C23.9059 9.47687 23.5993 9.20074 23.2337 9.20074H19.8052V8.41907C19.8052 5.98248 17.8227 4 15.3861 4C12.9494 4 10.9669 5.98248 10.9669 8.41907V9.20074H7.53842C7.17276 9.20074 6.86624 9.47687 6.82797 9.84052L5.00388 27.2112C4.98282 27.4124 5.04819 27.6133 5.1835 27.7638C5.319 27.9141 5.512 28 5.71433 28H25.0576C25.2601 28 25.4531 27.9141 25.5884 27.7638C25.7241 27.6133 25.7893 27.4124 25.7682 27.2112ZM12.3955 8.41907C12.3955 6.7702 13.7371 5.42859 15.3861 5.42859C17.035 5.42859 18.3766 6.7702 18.3766 8.41907V9.20074H12.3955V8.41907ZM6.50754 26.5714L8.18167 10.6293H10.9669V12.2035C10.9669 12.5979 11.2868 12.9178 11.6812 12.9178C12.0756 12.9178 12.3955 12.5979 12.3955 12.2035V10.6293H18.3766V12.2035C18.3766 12.5979 18.6965 12.9178 19.0909 12.9178C19.4853 12.9178 19.8052 12.5979 19.8052 12.2035V10.6293H22.5904L24.2646 26.5714H6.50754Z' fill='black')
                    | Meu Carrinho
    nav.nav
      .nav__wrapper
        .nav__body
          .container
            .col-xs-12
              ul.nav__list
                li.nav__list-item
                  a(href="#") Novidades
                li.nav__list-item
                  a(href="#") Vestidos
                li.nav__list-item 
                  a(href="#") Roupas
                li.nav__list-item
                  a(href="#") Sapatos
                li.nav__list-item
                  a(href="#") Lingerie
                li.nav__list-item
                  a(href="#") Acessórios
                li.nav__list-item
                  a(href="#") OUTLET

    section.banner__main
      ul.banner__list#banner-slider-desktop
        li.banner__list-item
          a(href="#")
            img(src="images/banner-desktop.png")
        li.banner__list-item
          a(href="#")
            img(src="images/banner-desktop.png")
      .slick-arrows
        .container
          .col-xs-12
            button.prev.slick-arrow <
            button.next.slick-arrow >

    section.benefits
      h3.benefits__title Por que comprar na Maeztra?
      .container
          .col-xs-12
            ul.benefits__list#benefits-slider
              li.benefits__list-item
                a(href="#")
                  .benefit-image
                    img(src="images/beneficio-01.png", alt="")
                  .benefit-content
                    span.card-title Produtos importados
                    span.card-subtitle Produto de Alta Qualidade
              li.benefits__list-item
                a(href="#")
                  .benefit-image
                    img(src="images/beneficio-01.png", alt="")
                  .benefit-content
                    span.card-title Produtos importados
                    span.card-subtitle Produto de Alta Qualidade
              li.benefits__list-item
                a(href="#")
                  .benefit-image
                    img(src="images/beneficio-01.png", alt="")
                  .benefit-content
                    span.card-title Produtos importados
                    span.card-subtitle Produto de Alta Qualidade
              li.benefits__list-item
                a(href="#")
                  .benefit-image
                    img(src="images/beneficio-01.png", alt="")
                  .benefit-content
                    span.card-title Produtos importados
                    span.card-subtitle Produto de Alta Qualidade
              li.benefits__list-item
                a(href="#")
                  .benefit-image
                    img(src="images/beneficio-01.png", alt="")
                  .benefit-content
                    span.card-title Produtos importados
                    span.card-subtitle Produto de Alta Qualidade

    section.partners
      h2.partners__title Marcas Parceiras
      .container
        .col-xs-12
          ul.partners__list#partners-slider
            li.partners__list-item
              a(href="#")
                img(src="images/parceiro-01.png", alt="")
            li.partners__list-item
              a(href="#")
                img(src="images/parceiro-02.png", alt="")
            li.partners__list-item
              a(href="#")
                img(src="images/parceiro-01.png", alt="")
            li.partners__list-item
              a(href="#")
                img(src="images/parceiro-01.png", alt="")
            li.partners__list-item
              a(href="#")
                img(src="images/parceiro-01.png", alt="")

    section.shelf
      h2.shelf__title As Mais Pedidas
      .container
        .col-xs-12
          ul.shelf__list#shelf-slider
            li.shelf__list-item
              a(href="#")
                img(src="images/vitrine-01.png", alt="")
                ul.cores__list
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                .shelf-item-price R$ 500,00
                .shelf-item-title Faux Suede Mini Skirt
                .shelf-item-subtitle A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
                .buy-button Adicionar

            li.shelf__list-item
              a(href="#")
                img(src="images/vitrine-01.png", alt="")
                ul.cores__list
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                .shelf-item-price R$ 500,00
                .shelf-item-title Faux Suede Mini Skirt
                .shelf-item-subtitle A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
                .buy-button Adicionar
            
            li.shelf__list-item
              a(href="#")
                img(src="images/vitrine-01.png", alt="")
                ul.cores__list
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                .shelf-item-price R$ 500,00
                .shelf-item-title Faux Suede Mini Skirt
                .shelf-item-subtitle A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
                .buy-button Adicionar

            li.shelf__list-item
              a(href="#")
                img(src="images/vitrine-01.png", alt="")
                ul.cores__list
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                .shelf-item-price R$ 500,00
                .shelf-item-title Faux Suede Mini Skirt
                .shelf-item-subtitle A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
                .buy-button Adicionar

            li.shelf__list-item
              a(href="#")
                img(src="images/vitrine-01.png", alt="")
                ul.cores__list
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                .shelf-item-price R$ 500,00
                .shelf-item-title Faux Suede Mini Skirt
                .shelf-item-subtitle A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
                .buy-button Adicionar

            li.shelf__list-item
              a(href="#")
                img(src="images/vitrine-01.png", alt="")
                ul.cores__list
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                  li
                    img(src="images/cor-01.png", alt="")
                .shelf-item-price R$ 500,00
                .shelf-item-title Faux Suede Mini Skirt
                .shelf-item-subtitle A faux suede mini skirt featuring exposed button-front closures and panel seam construction.
                .buy-button Adicionar

    section.collection
      .container
        .col-xs-12
          .row.collection__row
            .col-xs-12.col-md-4
              h2.collection__title Lorem ipsum 
              p.collection__content
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum mauris posuere fusce proin mattis. Hendrerit cras ut nunc enim dictum. Mattis proin ut quis donec sed eget nulla. Vel mi ut mauris integer. Nibh sagittis in lobortis sed cursus condimentum velit pharetra. Amet luctus ut vulputate scelerisque placerat consequat. Neque arcu mi iaculis id. Vel vitae, pharetra, a nec tristique. Feugiat id tortor eu mauris pulvinar velit massa. Ut ornare augue eget convallis volutpat aliquet. Sed sed pellentesque porttitor phasellus donec condimentum sit sapien.
            .col-xs-12.col-md-8
              .collection__banner
                img(src="images/banner-collection.png", alt="")
    section.newsletter
      .container
        .newsletter__wrapper
          .newsletter__title Recebe Nossa Newsletter
          form
            input.newsletter__field(placeholder="Digite seu email")
            button.newsletter__button Enviar
    footer
      .footer__wrapper
        .container
          .col-xs-12
            .footer__row
              .footer__column
                h2.footer-menu__title Informações
                ul.footer__list
                  li.footer__list-items
                    a(href="#") Quem Somos
                  li.footer__list-items
                    a(href="#") Prazo de Envio
                  li.footer__list-items
                    a(href="#") Trocas e Devoluções
                  li.footer__list-items
                    a(href="#") Promoções e Cupons
              .footer__column
                h2.footer-menu__title Informações
                ul.footer__list
                  li.footer__list-items
                    a(href="#") Quem Somos
                  li.footer__list-items
                    a(href="#") Prazo de Envio
                  li.footer__list-items
                    a(href="#") Trocas e Devoluções
                  li.footer__list-items
                    a(href="#") Promoções e Cupons
              .footer__column
                h2.footer-menu__title Informações
                ul.footer__list
                  li.footer__list-items
                    a(href="#") Quem Somos
                  li.footer__list-items
                    a(href="#") Prazo de Envio
                  li.footer__list-items
                    a(href="#") Trocas e Devoluções
                  li.footer__list-items
                    a(href="#") Promoções e Cupons
      .footer__social
        .container
          .col-xs-12
            .footer__row.footer__row--social
              .footer__column
                ul.footer__list
                  li.footer__list-item
                    a(href="#")
                      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M32 3.42857V28.5714C32 30.4643 30.4643 32 28.5714 32H22.4786V19.3429H26.8071L27.4286 14.5143H22.4786V11.4286C22.4786 10.0286 22.8643 9.07857 24.8714 9.07857H27.4286V4.76429C26.9857 4.70714 25.4714 4.57143 23.7 4.57143C20.0143 4.57143 17.4857 6.82143 17.4857 10.9571V14.5214H13.1429V19.35H17.4929V32H3.42857C1.53571 32 0 30.4643 0 28.5714V3.42857C0 1.53571 1.53571 0 3.42857 0H28.5714C30.4643 0 32 1.53571 32 3.42857Z')
                  li.footer__list-item
                    a(href="#")
                      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M32 3.42857V28.5714C32 30.4643 30.4643 32 28.5714 32H22.4786V19.3429H26.8071L27.4286 14.5143H22.4786V11.4286C22.4786 10.0286 22.8643 9.07857 24.8714 9.07857H27.4286V4.76429C26.9857 4.70714 25.4714 4.57143 23.7 4.57143C20.0143 4.57143 17.4857 6.82143 17.4857 10.9571V14.5214H13.1429V19.35H17.4929V32H3.42857C1.53571 32 0 30.4643 0 28.5714V3.42857C0 1.53571 1.53571 0 3.42857 0H28.5714C30.4643 0 32 1.53571 32 3.42857Z' )
                  li.footer__list-item
                    a(href="#")
                      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M32 3.42857V28.5714C32 30.4643 30.4643 32 28.5714 32H22.4786V19.3429H26.8071L27.4286 14.5143H22.4786V11.4286C22.4786 10.0286 22.8643 9.07857 24.8714 9.07857H27.4286V4.76429C26.9857 4.70714 25.4714 4.57143 23.7 4.57143C20.0143 4.57143 17.4857 6.82143 17.4857 10.9571V14.5214H13.1429V19.35H17.4929V32H3.42857C1.53571 32 0 30.4643 0 28.5714V3.42857C0 1.53571 1.53571 0 3.42857 0H28.5714C30.4643 0 32 1.53571 32 3.42857Z')
              .footer__column
                ul.footer__list
                  li.footer__list-item
                    a(href="#")
                      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M32 3.42857V28.5714C32 30.4643 30.4643 32 28.5714 32H22.4786V19.3429H26.8071L27.4286 14.5143H22.4786V11.4286C22.4786 10.0286 22.8643 9.07857 24.8714 9.07857H27.4286V4.76429C26.9857 4.70714 25.4714 4.57143 23.7 4.57143C20.0143 4.57143 17.4857 6.82143 17.4857 10.9571V14.5214H13.1429V19.35H17.4929V32H3.42857C1.53571 32 0 30.4643 0 28.5714V3.42857C0 1.53571 1.53571 0 3.42857 0H28.5714C30.4643 0 32 1.53571 32 3.42857Z')
                  li.footer__list-item
                    a(href="#")
                      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M32 3.42857V28.5714C32 30.4643 30.4643 32 28.5714 32H22.4786V19.3429H26.8071L27.4286 14.5143H22.4786V11.4286C22.4786 10.0286 22.8643 9.07857 24.8714 9.07857H27.4286V4.76429C26.9857 4.70714 25.4714 4.57143 23.7 4.57143C20.0143 4.57143 17.4857 6.82143 17.4857 10.9571V14.5214H13.1429V19.35H17.4929V32H3.42857C1.53571 32 0 30.4643 0 28.5714V3.42857C0 1.53571 1.53571 0 3.42857 0H28.5714C30.4643 0 32 1.53571 32 3.42857Z' )
                  li.footer__list-item
                    a(href="#")
                      svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M32 3.42857V28.5714C32 30.4643 30.4643 32 28.5714 32H22.4786V19.3429H26.8071L27.4286 14.5143H22.4786V11.4286C22.4786 10.0286 22.8643 9.07857 24.8714 9.07857H27.4286V4.76429C26.9857 4.70714 25.4714 4.57143 23.7 4.57143C20.0143 4.57143 17.4857 6.82143 17.4857 10.9571V14.5214H13.1429V19.35H17.4929V32H3.42857C1.53571 32 0 30.4643 0 28.5714V3.42857C0 1.53571 1.53571 0 3.42857 0H28.5714C30.4643 0 32 1.53571 32 3.42857Z')
              .footer__column
                ul.footer__list
                  li.footer__list-item.footer__list-item--developed
                    a(href="#")
                      span Powered by
                      img(src="images/powered-vtex.png", alt="")
                  li.footer__list-item.footer__list-item--developed
                    a(href="#")
                      span Developed by
                      img(src="images/powered-maeztra.png", alt="")
    .modal.modal--active
      button.modal__close FECHAR
      .modal__image
        img(src="images/bg-newsletter.png", alt="")
      .modal__wrapper
        svg(width='28' height='30' viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M4.66667 4.94336H23.3333C24.6167 4.94336 25.6667 6.05563 25.6667 7.41506V22.2453C25.6667 23.6047 24.6167 24.717 23.3333 24.717H4.66667C3.38334 24.717 2.33334 23.6047 2.33334 22.2453V7.41506C2.33334 6.05563 3.38334 4.94336 4.66667 4.94336Z' stroke='#231F20' stroke-linecap='round' stroke-linejoin='round')
          path(d='M25.6667 7.41504L14 16.066L2.33334 7.41504' stroke='#231F20' stroke-linecap='round' stroke-linejoin='round')
        .modal__title Bem Vindo à MAEZTRA
        span.modal__content
          | Receba em Primeira mão 
          strong
            | desconto e ofertas exclusivas
        input.modal__field(placeholder="Digite seu email")
        button.modal__button Enviar
    .body__mask
        

  


                  
                  

